<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="container-fluid">
                <div class="navbar navbar-expand-lg navbar-light">
                    <a href="{% url 'distributerhome' %}" class="navbar-brand">
                        <img src="{% static 'images/shop.png' %}" alt="Shree Hari logo" height="80px" width="120px">
                    </a>
                    <form class="m-auto d-lg-none d-block form">
                        <input type="search" class="form-txt" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nav">
                        <form class="ms-auto d-none d-lg-block form">
                            <input type="search" class="form-txt" placeholder="   Enter Item Name" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item dropdown mx-4">
                                <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Phones
                                </a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'product_browse' %}?category=5g Phones">5g Phones</a></li>
                                <li><a class="dropdown-item" href="#">4g Phones</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">keypad Phones</a></li>
                                </ul>
                            </li>
                            <li class="nav-item mx-4">
                                <a href="tablets" class="nav-link">Tablets</a>
                            </li>
                            <li class="nav-item dropdown mx-4">
                                <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Accessories
                                </a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Earphones</a></li>
                                <li><a class="dropdown-item" href="#">Data Cabel</a></li>
                                <li><a class="dropdown-item" href="#">Aux Cabel</a></li>
                                <li><a class="dropdown-item" href="#">Power Bank</a></li>
                                <li><a class="dropdown-item" href="#">Mobile Skin</a></li>
                                <li><a class="dropdown-item" href="#">Charger</a></li>
                                <li><a class="dropdown-item" href="#">Temper/Glass</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'product_browse' %}?category=Neckband">Neckband</a></li>
                                <li><a class="dropdown-item" href="#">Smart Watch</a></li>
                                <li><a class="dropdown-item" href="#">Airdopes/Buds</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown mx-4">
                                <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Repairing
                                </a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Mobile Screen/Combo</a></li>
                                <li><a class="dropdown-item" href="#">Charging Board</a></li>
                                <li><a class="dropdown-item" href="#">Batteries</a></li>
                                <li><a class="dropdown-item" href="#">Back Pannel</a></li>
                                <li><a class="dropdown-item" href="#">Middle OF Mobile</a></li>
                                <li><a class="dropdown-item" href="#">Camera</a></li>
                                <li><a class="dropdown-item" href="#">Speaker</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">iphone Screen</a></li>
                                <li><a class="dropdown-item" href="#">iphone Battery</a></li>
                                <li><a class="dropdown-item" href="#">iphone Camera</a></li>
                                <li><a class="dropdown-item" href="#">iphone Back Glass</a></li>
                                <li><a class="dropdown-item" href="#">iphone Connector</a></li>
                                <li><a class="dropdown-item" href="#">iphone Speaker</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown mx-4">
                                <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Software
                                </a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Android Software</a></li>
                                <li><a class="dropdown-item" href="#">Keypad Software</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">iphone software</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav mx-lg-4">
                                <li class="nav-item dropdown mx-4">
                                    <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                       {{data.name}}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Profile</a></li>
                                        <li><a class="dropdown-item" href="#">My Orders</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>
                                            Logout</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item mx-4">
                                    <a class="nav-link" href="{% url 'didview_cart' %}" aria-label="Add to Cart">
                                         Cart
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </header>
    <main>
        {% block content %}
        <!-- Content will be injected here -->
        {% endblock %}
    </main>
    <footer class="container-fluid py-2">
        <div class="row">
            <div class="col-6 text-left pt-3">
                <p>&copy; 2024 Powered by Shree Hari Telecom</p>
            </div>
            <div class="col-6 text-end pt-3">
                <p><a href="#">Terms and Conditions</a></p>
            </div>
        </div>
    </footer>
</body>
</html>
